manifest {
    name = 'fd7554-mre'
    description = 'MRE for FD-7554: nextflow_schema.json defaults with relative paths to repo-bundled files'
    mainScript = 'main.nf'
    nextflowVersion = '>=24.04.0'
}

params {
    samplesheet   = "${projectDir}/examples/fastq.local.csv"
    reference_bed = "${projectDir}/data/reference.bed"
    input_dir     = "${projectDir}/data/samples"
    outdir        = 'results'
}

process.container = 'quay.io/nextflow/bash'